#root {
    -fx-background-color: #f5f5f5;
    -fx-text-fill: #1e1e1e;
}

#themeToggleBtn {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #000000;
}

#hashedValue {
    -fx-font-size: 18px;
    -fx-font-family: "Helvetica";
    -fx-alignment: center;
    -fx-text-color: #1e1e1e;
}

#replay {
    -fx-background-color: gray;
}

#subheader{-fx-text-fill: #1e1e1e;}
#header{-fx-text-fill: #1e1e1e;}
#lblSelectedFile{-fx-text-fill: #1e1e1e;}
